<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="Dice Roller Test Suite">
            <directory>./tests/DiceRoller/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>